.git
.gitignore
node_modules
vendor
.env
.env.backup
.env.production
_storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
npm-debug.log
.DS_Store
Thumbs.db
*.md
docker
docker-compose.yml
Dockerfile